.floorplan {
    &-amenities-tab {
        .actions-row {
            @include grid-row();
            margin-left: 0px;
            margin-right: 0px;
            padding-bottom: 10px;
            padding-top: 8px;

            .new-btn {
                float: left;

                .icon-size {
                    font-size: 12px;
                }
            }

            .filters {
                .grid-control-item {
                    .icon-color {
                        color: $rp-neutral-03;
                    }
                }
            }
        }

        .ameneties-grid {
            padding-left: 10px;
        }

        .rp-form-input-text-table {
            max-width: 350px;
        }

        .grid-col {
            &-edit {
                font-size: 14px;
            }

            &-cursor {
                cursor: pointer;
            }

            &-name {
                display: block;
                font-weight: 500;
            }

            &-synd-name {
                @include body-3($rp-neutral-03);
            }

            &-prop {
                font-weight: 500;
                line-height: 42px;
            }

            &-price {
                font-weight: 500;
                line-height: 42px;
            }
        }

        .rp-grid-header {
            .rp-grid-text {
                font-size: 14px;
                font-weight: normal;
            }

            &.amenity-iD {
                width: 45px;
            }

            &.amenity-name {
                text-align: left;
            }

            &.total-properties {
                text-align: right;
                width: 150px;
            }

            &.price-range {
                text-align: right;
                width: 150px;
            }

            &.edit {
                text-align: right;
                width: 50px;
            }

            &.more {
                text-align: right;
                width: 50px;
            }
        }

        .rp-grid-cell {
            &.is-selected {
                width: 45px;
            }

            &.amenity-name {
                text-align: left;
            }

            &.total-properties {
                text-align: right;
                font-size: 16px;
                font-weight: 500;
                width: 150px;
            }

            &.price-range {
                text-align: right;
                font-size: 16px;
                font-weight: 500;
                width: 150px;
            }

            &.edit {
                text-align: right;
                width: 50px;
            }

            &.more {
                text-align: right;
                width: 50px;
            }
        }
    }
}
