.floorplan {
    &-amenity-assign-prop {
        padding-left: 25px;
        padding-right: 25px;
        .assign-prop-grid {
            .site-name {
                width: 90%;
            }
            .is-selected {
                width: 10%;
            }
        }
    }
    
}
    
