.floorplan {
    &-amenity-prop-details-units {
        .btn-tabs {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 25px;
        }
        .menu-index{
            z-index: 99999;
            
        }
        .amenity-tab {

            .rp-action-bar {
                // padding-left: 0px;
                // padding-top:0px;
            }
            .actions-row {
                @include grid-row();
                margin-left: 0px;
                margin-right: 0px;
                padding-bottom: 10px;
                padding-top: 8px;
                .new-btn {
                    float: left;
                    .icon-size {
                        font-size: 12px;
                    }
                }
                .filters {
                    .grid-control-item {
                        .icon-color {
                            color: $rp-neutral-03;
                        }
                    }
                }
            }
            .ameneties-grid {
                padding-left: 10px;
            }
            .rp-form-input-text-table {
                max-width: 350px;
            }
            
            .rp-grid-headers-1 .rp-grid-text {
                font-size: 14px;
                font-weight: bold;
            }
            .rp-grid-filters-1{
                .rp-grid-cell {
                    &.unit-id {
                        width: 45px;
                    }
                }
                .rp-grid-cell {                    
                    &.more {                        
                        width: 70px;
                    }
                }
            }
            .rp-grid-headers-1 {
                .rp-grid-cell {
                    &.unit-id {
                        width: 45px;
                    }
                }
                .rp-grid-cell {
                    &.unit-no {
                        width: 75px;
                        text-align: center;
                    }
                }
                .rp-grid-cell {
                    &.building-no {
                        width: 100px;
                        text-align: center;
                    }
                }
                
                .rp-grid-cell {
                    &.floor-plan {
                        text-align: left;
                        width: 40%;
                    }
                }
                .rp-grid-cell {
                    &.floor-level {
                        text-align: center;
                        width: 20%;
                    }
                }
                
                .rp-grid-cell {
                    &.date-added {
                        text-align: left;   
                        width: 120px;                     
                    }
                }
                .rp-grid-cell {
                    &.price-point {
                        text-align: right; 
                        width: 120px;                         
                    }
                }
                
                .rp-grid-cell {                    
                    &.more {                        
                        width: 70px;
                        text-align: right;   
                    }
                }
            }
            .rp-grid-body-1 {
                .rp-grid-cell {
                    &.is-del-selected {
                        width: 45px;
                    }
                }
                .rp-grid-cell {
                    &.unit-no {
                        text-align: center;
                        width: 75px;
                    }
                }
                .rp-grid-cell {
                    &.building-no  {
                        text-align: center;
                        width: 100px;
                    }
                }
                .rp-grid-cell {
                    &.floor-plan {
                        text-align: left;
                        width: 40%;
                    }
                }
                .rp-grid-cell {
                    &.floor-level{
                        text-align: center;
                        width: 20%;
                    }
                }
                .rp-grid-cell {
                    &.date-added {
                        text-align: left;
                        font-size: 16px;
                        font-weight: 500;
                        width: 120px;                             
                    }
                }
                .rp-grid-cell {
                    &.price-point{
                        text-align: right;     
                        width: 120px;                     
                    }
                }

                .rp-grid-cell {
                    &.more {                        
                        width: 70px;
                        text-align: right;   
                        // color: $rp-neutral-04;
                        // font-size: 25px;
                        // cursor: pointer;
                    }
                }
                
            }
        }
    }
}

.rp-actions-menu-panel{
    &.units-actionsmenu{
        z-index: 9999;
    }
}