#accounts {
    .boder-bottom {
        border-bottom: 1px solid #b7adad;
    }
    .currentbal {
        margin-top: 2%;
    }
    .btncls {
        width: 140px;
        border-radius: 18px;
    }
    td,
    th {
        width: 160px;
    }
}