#accounts {
    .boder-bottom {
        border-bottom: 1px solid #b7adad;
    }
    .currentbal {
        margin-top: 2%;
    }
    .btncls {
        width: 140px;
        border-radius: 18px;
    }
    .p-r-25 {
        padding-right: 25px;
    }
    td,
    th {
        width: 160px;
    }
    .m-l-p-8 {
        margin-left: 8px;
    }
    .m-l-m-23 {
        margin-left: -23px;
    }
    .boder-full {
        border: 1px solid #e4e6e7;
    }   
    .m-t-34 {
        margin-top: 34px !important;
    }
    .m-B-12 {
        margin-bottom: 12px;
    }
    .m-l-m-12 {
        margin-left: -12px;
    }
    .rp-grid-body-1 {
        .TOTALENTERED ,.TOTALDUE {
            text-align: right;
        }
    }
}