#accounts {
    .boder-bottom {
        border-bottom: 1px solid #b7adad;
    }
    .currentbal {
        margin-top: 2%;
    }
    .btncls {
        width: 140px;
        border-radius: 18px;
    }
    .p-r-16 {
        padding-right: 16px;
    }
    td,
    th {
        width: 160px;
    }
    .m-l-p-8 {
        margin-left: 8px;
    }
    .m-l-m-23 {
        margin-left: -23px;
    }
    .linkcls {
        color: blue;
    }
    .boder-full {
        border: 1px solid #e4e6e7;
    }
}