.amenities {
    .usage-analytics {
        @include grid-row();
        margin-left: 0px;
        margin-right: 0px;

        .right {
            float: right;
            @include body-2;

            .icon-size {
                font-size: 10px;
            }
        }
    }
}
#pc {
	  margin: 40px 25px;
	  width: 200px;
	  display: block;
	  border: none;
	  padding: 10px 0;
	  
      border-bottom: solid 1px\
       #1abc9c;
	  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
	  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
	  background-position: -200px 0;
	  background-size: 200px 100%;
	  background-repeat: no-repeat;
	  color: #0e6252;
	}
	#pc:focus, input:valid {
	 box-shadow: none;
	 outline: none;
	 background-position: 0 0;
	}




.textBox {
height: 50px;
}
.textBox input {
border: none;
border-bottom: 1px solid black;
margin-top: 20px;
border-bottom: solid 1px #1abc9c;
	  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
	  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
      background-position: -200px 0;
	  background-size: 200px 100%;
	  background-repeat: no-repeat;
}
.textBox input:focus {
outline: none;
border-bottom: 1px solid #00B9F5;
box-shadow: none;
background-position: 0 0;
}
.textBox input:focus::-webkit-input-placeholder {
color: white;
}
.placeholder {
display: none;
position: absolute;
color: #00B9F5;
margin-top: 20px;
}