<div class="rp-aside-modal rp-aside-modal-right rp-aside-modal-show  rp-aside-modal-extend-modal-2 " ng-controller="FpaPropDetPricePointUnitsCtrl as fpaPricePointCtrl">

    <div class="rp-aside-modal-header rp-aside-modal-header-wrap extend" ng-if="fpaPricePointCtrl.isPageActive">
        <a ng-click="fpaPricePointCtrl.closeAside()">
            <i class="rp-aside-modal-close font-10"></i>
        </a>
        <h2 class="rp-aside-modal-header-title">Change Price Point</h2>
        <h3 class="rp-aside-modal-header-subtitle">Unit {{::fpaPricePointCtrl.displayUnits}}</h3>
    </div>

    <div ng-if="fpaPricePointCtrl.isPageActive" class="rp-aside-modal-content extend floorplan-amenity-price-points-aside ">

        <div class="ft-dark">
            <label class="form-label">Amenity Name</label>
        </div>
        <div class="space">
            <label class="form-text">{{::fpaPricePointCtrl.pricePointsData.amenityName}}</label>
        </div>
        <div class="ft-dark">
            <label class="form-label">Price Point</label>
        </div>
        <div class="space">
            <rp-form-select-menu
                rp-model="fpaPricePointCtrl.pricePoint"
                config="fpaPricePointCtrl.formConfig.pricePoint">
            </rp-form-select-menu>
        </div>
    </div>

    <div class="rp-aside-modal-footer rp-aside-modal-footer-btns aside-btns">
        <button ng-click="fpaPricePointCtrl.closeAside()" class=" btn rounded btn-outline b-primary text-primary pad-left">Cancel</button>
        <button ng-click="fpaPricePointCtrl.save()" class=" btn rounded primary pad-left">Save</button>
    </div>

</div>
