.floorplan {
    &-amenity-assign-units-aside {
            margin-left: 10px;
            margin-right: 10px;        
                               
            .rp-form-input-text-table {
                max-width: 350px;
            }
            
            .rp-grid-headers-1 .rp-grid-text {
                font-size: 14px;
                font-weight: bold;
            }
            .rp-grid-filters-1{
                .rp-grid-cell {
                    width: 30px;
                }
                .rp-grid-cell {
                    &.unit-id {
                        width: 40px;
                    }
                }
                .rp-grid-cell {
                    &.unit-no {
                        width: 36px;
                    }
                }
                .rp-grid-cell {
                    &.building-no {
                        width: 57px;
                    }
                }
                .rp-grid-cell {
                    &.floor-plan {                        
                        width: 38%;
                    }
                }
                .rp-grid-cell {
                    &.floor-level {                        
                        width: 50px;
                    }
                }
            }
            .rp-grid-headers-1 {
                .rp-grid-cell {
                    &.rp-grid-header{
                        width: 30px;
                    } 
                }
                .rp-grid-cell {
                    &.unit-id {
                        width: 40px;
                    }
                }
                .rp-grid-cell {
                    &.unit-no {
                        width: 36px;
                    }
                }
                
                .rp-grid-cell {
                    &.building-no {
                        width: 57px;
                        text-align: center;
                    }
                }
                
                .rp-grid-cell {
                    &.floor-plan {
                        text-align: left;
                        width: 38%;
                    }
                }
                .rp-grid-cell {
                    &.floor-level {
                        text-align: center;
                        width: 50px;
                    }
                }
                
                
            }
            .rp-grid-body-1 {
                .rp-grid-cell {
                    &.is-selected {
                        width: 30px;
                    }
                }
                 .rp-grid-cell {
                    &.unit-id {
                        width: 40px;
                    }
                }
                .rp-grid-cell {
                    &.unit-no {
                        width: 36px;
                    }
                }
                
                .rp-grid-cell {
                    &.building-no  {
                        text-align: center;
                        width: 57px;
                    }
                }
                .rp-grid-cell {
                    &.floor-plan {
                        text-align: left;
                        width: 38%;
                    }
                }
                .rp-grid-cell {
                    &.floor-level{
                        text-align: center;
                        width: 50px;
                    }
                }
                                
            }
        

    }
    
}
    