#statements {
    label {
        margin-bottom: .3em;
    }
    .btn {
        border-radius: 6px;
    }
    .bodydivcls {
        border: 1px solid #dcd8d8;
        border-radius: 6px;
    }
    .accountscls {
        border-top: 1px solid black;
        border-bottom: 1px solid;
        display: inline;
        padding: 2px;
    }
    .b-b-1 {
        border-bottom: 1px solid black;
    }
    .bgcolor {
        background-color: #e8e5e5;
        padding: 5px;
    }
    .WHENCREATED,
    .TYPE,
    .DESCRIPTION {
        width: 20%;
    }
    .rp-grid-body-1 {
        .AMOUNT,
        .PAYMENT,
        .BALANCE {
            width: 13%;
            // text-align: right;
        }
    }
}