<div class="modal"  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Upgrade Eligible</h5>
      </div>
      <div class="modal-body p-lg">
        <p>You are about to remove {{ctrlUE.model.floorPlanNames}} from the property’s list. It will no longer be listed for your property or available to assign to floor plans /units.</p>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn rounded neutral p-x-md" ng-click="ctrlUE.hideModal()">Cancel</button>
        <button type="button" class="btn rounded primary p-x-md" ng-click="ctrlUE.confirmDeleteSelectedAmenities()">Remove</button>
      </div>
    </div>
  </div>
</div>