<div class="container" id="viewpay">

    <div class="page-header">
        <h4>{{page.model.translateNames('viewPayHeader')}}</h4>
        <hr>
    </div>
    <rp-busy-indicator ng-if="!page.model.apiReady" model="page.model.busyIndicator">
    </rp-busy-indicator>
    <div class="row">
        <div class="col-md-2">
            <rp-form-select-menu config="page.model.formConfig.paymentType" rp-model="page.model.paymenttype">
            </rp-form-select-menu>
        </div>
        <div class="col-md-2">
            <rp-form-select-menu config="page.model.formConfig.leaseddl" rp-model="page.model.leasevalueID">
            </rp-form-select-menu>
        </div>
        <div>
            <button class="btn btn-primary btnContinue pull-right">Pay Now</button>
        </div>
    </div>
    <br>

    <div class="rp-action-bar box">
        <div class="grid-controls">
            <div class="grid-control-item">
                <i class="icon rp-icon-printer"></i>
                <span class="text">Print</span>
            </div>
            <div class="grid-control-item">
                <rp-toggle model="page.model.grid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>

        <div rp-grid-model="page.model.grid" class="action-item rp-grid-select ft-form">
            <label class="md-check dark-bluebox rp-grid-select-label">
                <input
                    type="checkbox"
                    ng-true-value="true"
                    ng-false-value="false"
                    class="rp-form-checkbox"
                    ng-model="gridSelect.model.selected"
                    ng-change="gridSelect.model.publishState()" />
                <i class="primary"></i>
            </label>
            <span class="rp-grid-select-icon rp-icon-angle-down"></span>
        </div>
    </div>
    <div ng-if="page.model.customWorkSheetsCount()" class="cust-margin-top">
        {{page.model.customWorkSheetsCount()}}/{{page.model.totalCount}} custom worksheets selected
    </div>
    <rp-grid model="page.model.grid">
    </rp-grid>
    <div class="row m-t-1">
        <span class="col-md-8 text-right font-bold">Total</span>
        <span class="col-md-4 text-center font-bold">20000</span>
    </div>
    <rp-grid-pagination model="page.model.gridPagination">
    </rp-grid-pagination>
    <div>

    </div>
    <div>
        <button class="btn btn-primary btnContinue pull-right">Pay Now</button>
    </div>
</div>