.floorplan {
    &-amenity-prop-details-floorplans {
        .btn-tabs {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 25px;
        }
        .menu-index{
            z-index: 99999;
            
        }
        .amenity-tab {

            .rp-action-bar {
                // padding-left: 0px;
                // padding-top:0px;
            }
            .actions-row {
                @include grid-row();
                margin-left: 0px;
                margin-right: 0px;
                padding-bottom: 10px;
                padding-top: 8px;
                .new-btn {
                    float: left;
                    .icon-size {
                        font-size: 12px;
                    }
                }
                .filters {
                    .grid-control-item {
                        .icon-color {
                            color: $rp-neutral-03;
                        }
                    }
                }
            }
            .ameneties-grid {
                padding-left: 10px;
            }
            .rp-form-input-text-table {
                max-width: 350px;
            }
            
            .rp-grid-headers-1 .rp-grid-text {
                font-size: 14px;
                font-weight: 500;
            }
            .rp-grid-filters-1{
                .rp-grid-cell {
                    &.floor-plan-id {
                        width: 45px;
                    }
                }
                .rp-grid-cell {                    
                    &.delete {                        
                        width: 50px;
                    }
                }
            }
            .rp-grid-headers-1 {
                .rp-grid-cell {
                    &.floor-plan-id {
                        width: 45px;
                    }
                }
                .rp-grid-cell {
                    &.floorplan-name {
                        text-align: left;                        
                        width: 60%;
                    }
                }
                .rp-grid-cell {
                    &.date-added {
                        text-align: left;   
                        width: 30%;                                   
                    }
                }
                
                .rp-grid-cell {                    
                    &.delete {                        
                        width: 50px;
                    }
                }
            }
            .rp-grid-body-1 {
                .rp-grid-cell {
                    &.is-del-selected {
                        width: 45px;
                    }
                }
                .rp-grid-cell {
                    &.floorplan-name {
                        text-align: left;
                        width: 60%;
                    }
                }
                .rp-grid-cell {
                    &.date-added {
                        text-align: left;
                        font-size: 16px;                        
                        width: 30%;
                    }
                }

                .rp-grid-cell {
                    &.delete {                        
                        width: 50px;
                        color: $rp-neutral-04;
                        font-size: 25px;
                        cursor: pointer;
                    }
                }
                
            }
        }
    }
}
