.floorplan {
    &-amenity-price-points-aside {
        margin-left: 10px;
        margin-right: 10px;
        .ft-dark {
            font-weight: 500;            
        }
        .space{            
            margin-bottom: 30px;
        }        
    }
    
}
    