
    <div id="changepassword-aside"  class="rp-aside-modal rp-aside-modal-right sample-modal-1">
    <div class="rp-aside-modal-header">
            <span class="rp-aside-modal-close"
                    ng-click="aside.closeFirstModal()">
            </span>
            <h2 class="rp-aside-modal-header-title">Change Password</h2>
        </div>  

        <div class="rp-aside-modal-content">
                <form name="confirmpwdForm" novalidate role="form">
                        <div class="innerbody-login-pwd m-t-2">
                            <div class="form-group clearfix">                                
                                <div class="lh m-l-1 ng-hide">

                                    <div class="clearfix">
                                        <span ng-show="page.model.pwd1.length>7" class="glyphicon glyphicon-ok col-md-1 green-font"></span>
                                        <span class="col-md-10" ng-class="{'m-l-2':page.model.pwd1.length<=7 || page.model.pwd1===undefined}"> {{page.model.translateNames('r1')}}</span>
                                    </div>
                                    <div class="clearfix">
                                        <span ng-show="page.model.upperFlag" class="glyphicon glyphicon-ok col-md-1 green-font"></span>
                                        <span class="col-md-10" ng-class="{'m-l-2':!page.model.upperFlag}">{{page.model.translateNames('r2')}}</span>
                                    </div>
                                    <div class="clearfix">
                                        <span ng-show="page.model.lowerFlag" class="glyphicon glyphicon-ok col-md-1 green-font"></span>
                                        <span class="col-md-10" ng-class="{'m-l-2':!page.model.lowerFlag}">{{page.model.translateNames('r3')}}</span>
                                    </div>
                                    <div class="clearfix">
                                        <span ng-show="page.model.numFlag" class="glyphicon glyphicon-ok col-md-1 green-font"></span>
                                        <span class="col-md-10" ng-class="{'m-l-2':!page.model.numFlag}">  {{page.model.translateNames('r4')}}</span>
                                    </div>
                                    <div class="clearfix">
                                        <span ng-show="page.model.specialCharFlag" class="glyphicon glyphicon-ok col-md-1 green-font"></span>
                                        <span class="col-md-10" ng-class="{'m-l-2':!page.model.specialCharFlag}"> {{page.model.translateNames('r5')}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12 clearfix m-t-1">
                                        <label class="form-label" for="ChangePasswod">Change Password</label>
                                    <input type="password" name="pwd1" ng-change="page.model.pwdValidation(page.model.pwd1)" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}/" ng-maxlength="100" ng-model="page.model.pwd1" class="form-control" required>
                                    <span class="pwd m-l-1" ng-show="confirmpwdForm.pwd1.$error.pattern">Please enter valid password </span>

                                </div>
                                <div class="col-md-12 clearfix m-t-1"> 
                                        <label class="form-label" for="ConfirmPasswod">Confirm Password</label>
                                    <input type="password" name="pwd2" ng-match="page.model.pwd1" ng-model="page.model.pwd2" class="form-control" required></div>
                                <span class="pwd m-l-1" ng-show="confirmpwdForm.pwd2.$error.match"> Please Enter Confirm Password </span>
                            </div>
                            
                        </div>
                    </form>                       
        </div>
    
        <div class="rp-aside-modal-footer">
            <button class="btn rounded primary w-full m-b-md" ng-click="page.changePasswordSubmit()">Submit</button>
        </div>
    </div>
    