<!-- <div class="grid-edit-title">
    <rp-form-input-text config="model.formConfig.payAmount" rp-model="record[config.key]">
    </rp-form-input-text>
</div> -->

<!-- ng-class="inputText.getState()" config="model.formConfig.payAmount" rp-model="record[config.key]" style="" -->
{{config}}
<div class="rp-form-input-text ng-isolate-scope touched">
    <div class="rp-form-input-text-table">
        <div class="rp-form-input-text-row">

            <div class="rp-form-input-text-cell rp-form-input-text-field-wrap">
                <input class="rp-form-input-text-field" id="Pay Amount" maxlength="" minlength="" name="Pay Amount" ng-blur="config.method(record)" ng-change="inputText.onChange(rpModel)" ng-model="record[config.key]" ng-trim="true" placeholder="" type="text" autocomplete="off"></div>

        </div>
    </div>
</div>