<div class="container" id="login">

    <div class="row">

        <i class="icon-check-sign"></i> icon-check-sign
        <div class="col-md-6 bordercls maindiv-center">
            <div class="mainheader text-center p-t-1">
                <h5>Welcome to AMA Plaza</h5>
                <span>Tenant Portal </span>
                <br>
                <div><span class="logoplaceholder">Logo placeholder</span></div>
                <span>444 N Wabash Ave,Chicago IL 60611 </span>
            </div>
            <br>


            <div id="midblock8" ng-if="page.model.showHideFlag === 'login'">
                <div class="text-center m-t-1 statictxtcls green-font font-bold" ng-if="page.model.pwdSuccess">
                    <span class="clearfix">You have successfully changed your password</span>
                    <span>Please login now.</span>
                </div>
                <form name="loginForm" novalidate>
                    <div class="innerbody-login m-t-2">
                        <div class="form-group clearfix">
                            <span class="m-l-1">Username</span>
                            <div class="col-md-12"> <input name="username" type="text" class="form-control" ng-model="page.model.username" required></div>
                        </div>
                        <div class="form-group clearfix">
                            <span class="m-l-1">Password</span>
                            <div class="col-md-12"> <input type="password" name="pwd" class="form-control" ng-model="page.model.pwd" required></div>
                        </div>
                        <div class="col-md-12">
                            <input type="checkbox" class="checkbox"> Remember me
                        </div>
                        <div class="form-group text-center clearfix">
                            <input type="button" value="Login" ng-disabled="loginForm.$invalid" class="center-block m-t-1 btn btn-primary btnContinue">
                        </div>

                    </div>
                </form>
                <div class="text-center m-t-1">
                    <a href="javcascrip:void(0);" class="linkcls" ng-click="page.model.showhideDiv('reset');"> Forgot Password?</a>
                </div>
            </div>



            <div id="midblock2" ng-show="page.model.showHideFlag === 'reset'">
                <form name="resetForm" novalidate>
                    <div class="text-center m-t-1 statictxtcls"><span>Your username is normally your company email address or an alternative specified by your system administrator</span></div>
                    <div class="innerbody m-t-2">
                        <div class="form-group clearfix text-center">
                            <span>Enter your username or email</span>
                            <div class="col-md-12"> <input type="text" class="form-control" ng-model="page.model.u_e_id" placeholder="anjana@gmail.com" required></div>
                        </div>

                        <div class="form-group text-center clearfix">
                            <input type="button" value="Continue" ng-disabled="resetForm.$invalid" class="center-block m-t-1 btn btn-primary btnContinue" ng-click="page.model.showhideDiv('verifyCode');">
                        </div>
                    </div>
                    <div class="text-center m-t-1">
                        <a href="javcascrip:void(0);" class="linkcls" ng-click="page.model.showhideDiv('login');"> Return to login screen</a>
                    </div>
                    <div class="text-center row statictxtcls m-t-1">
                        <div class="col-lg-4">
                            <div class="clearfix text-center"><a class="col-md-12 img-circle activecls circleshape m-l-2">1</a></div>
                            <a class="activecolor">Step one</a>
                        </div>
                        <div class="col-lg-4">
                            <div class="clearfix text-center"><a class="col-md-12 img-circle inactivecls circleshape m-l-2">2</a></div>
                            <a class="inactivecolor"> Step two</a>
                        </div>
                        <div class="col-lg-4">
                            <div class="clearfix text-center"><a class="col-md-12 img-circle inactivecls circleshape m-l-2">3</a></div>
                            <a class="inactivecolor">Step three</a>
                        </div>
                    </div>
                </form>
            </div>

            <div id="midblock1" ng-show="page.model.showHideFlag === 'verifyCode'">
                <div class="text-center m-t-1"><span>How would you like to reset your password</span></div>
                <div class="innerbody">

                    <form name="verifyform" novalidate role="form">
                        <div class="form-group clearfix">
                            <input type="radio" class="radio" ng-model="page.model.rdnEmailCode" ng-change="page.model.radiochange(page.model.rdnEmailCode);">Email me a verification code
                            <div class="col-md-12"> <input type="text" ng-readonly="page.model.rdnEmailCode===true" class="form-control" ng-model="page.model.emailCode" placeholder="anjana@gmail.com"></div>
                        </div>
                        <div class="form-group clearfix">
                            <input type="radio" class="radio" ng-model="page.model.rdnmobCode" ng-change="page.model.rdnEmailCode=page.model.rdnmobCode===true?'':page.model.rdnmobCode">Text me a verification code to number on file
                            <div class="row">
                                <div class="col-md-4"> <input type="text" maxlength="3" ng-model="page.model.mobcode1" ng-readonly="page.model.rdnmobCode===true" class="form-control" placeholder="972"></div>
                                <div class="col-md-4"> <input type="text" maxlength="3" ng-model="page.model.mobcode2" ng-readonly="page.model.rdnmobCode===true" class="form-control" placeholder="123"></div>
                                <div class="col-md-4"> <input type="text" maxlength="4" ng-model="page.model.mobcode3" ng-readonly="page.model.rdnmobCode===true" class="form-control" placeholder="0056"></div>
                                </di4>
                            </div>
                            <div class="form-group text-center clearfix">
                                <input type="button" value="Continue" ng-click="page.model.sendVerifycode();" class="center-block m-t-1 btn btn-primary btnContinue">
                                <div>
                                    <a href="javcascrip:void(0);" class="linkcls" ng-click="page.model.showhideDiv('login');"> Return to login screen</a>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>


                <div id="midblock3" ng-show="page.model.showHideFlag === 'sentCode'">

                    <div class="text-center m-t-1 statictxtcls"><span>Answer the following to verify this account is yours</span></div>
                    <form name="sentCodeform" novalidate role="form">
                        <div class="innerbody m-t-2">
                            <div class="form-group clearfix">
                                <div class="lh m-l-1">
                                    <span class="clearfix">Enter Verification Code</span>
                                    <span>A text message was sent to {{page.model.displaymob_email}}</span>
                                </div>
                                <div class="col-md-12 m-t-1"> <input type="text" class="form-control" ng-model="page.model.code" placeholder="Enter the 6 digit code" required></div>
                            </div>
                            <div class="form-group text-center clearfix">
                                <input type="button" value="Next" ng-disabled="sentCodeform.$invalid" ng-click="page.model.showhideDiv('question');" class="center-block m-t-1 btn btn-primary btnContinue">
                            </div>
                        </div>
                    </form>

                    <div class="text-center m-t-1 row">
                        <a href="javcascrip:void(0);" class="linkcls m-r-3" ng-click="page.model.showhideDiv('question');"> Answer security question</a>
                        <a href="javcascrip:void(0);" class="linkcls" ng-click="page.model.showhideDiv('login');"> Return to login screen</a>
                    </div>

                </div>

                <div id="midblock4" ng-show="page.model.showHideFlag === 'question'">

                    <div class="text-center m-t-1 statictxtcls"><span>Answer the two random questions below to verify the account is yours  and reset your password </span></div>
                    <form name="questionForm" novalidate role="form">
                        <div class="innerbody-login m-t-2">
                            <div class="form-group clearfix">
                                <div class="lh m-l-1">
                                    <span class="clearfix">What was your first pet's name?</span>
                                </div>
                                <div class="col-md-12"> <input type="text" class="form-control" ng-model="page.model.question1" required></div>
                            </div>

                            <div class="form-group text-center clearfix">
                                <input type="button" value="Continue" ng-click="page.model.showhideDiv('confirmpwd');" ng-disabled="questionForm.$invalid" class="center-block m-t-2 btn btn-primary btnContinue">
                            </div>
                        </div>
                    </form>

                    <div class="text-center m-t-1 row">
                        <a href="javcascrip:void(0);" class="linkcls" ng-click="page.model.showhideDiv('login');"> Return to login screen</a>
                    </div>

                </div>

                <div id="midblock5" ng-show="page.model.showHideFlag === 'confirmpwd'">
                    <form name="confirmpwdForm" novalidate role="form">
                        <div class="innerbody m-t-2">
                            <div class="form-group clearfix">
                                <div class="lh m-l-1">
                                    <span class="clearfix font-bold">Enter a new password for stephen.petterson@camden.com.Passwords must have atleast :</span>
                                </div>
                                <div class="lh m-l-1">
                                    <span class="clearfix">8 characters</span>
                                    <span class="clearfix">1 upper-case letter</span>
                                    <span class="clearfix">1 lower-case letter</span>
                                    <span class="clearfix">1 number</span>
                                    <span class="clearfix">1 special character (?!#%)</span>
                                </div>
                                <div class="col-md-12 clearfix m-t-1"> <input type="password" ng-model="page.model.pwd1" class="form-control" required></div>
                                <div class="col-md-12 clearfix m-t-1"> <input type="password" ng-model="page.model.pwd2" class="form-control" required></div>
                                <span class="pwd m-l-1">The passwords you typed do not match. Please try again</span>
                            </div>
                            <div class="form-group text-center clearfix">
                                <input type="button" value="Change password" ng-disabled="confirmpwdForm.$invalid" ng-click="page.model.resetpwd();" class="center-block m-t-1 btn btn-primary btnContinue">
                            </div>
                        </div>
                    </form>
                </div>

                <!-- <div id="midblock6" ng-hide="true">

                <div class="innerbody m-t-2">
                    <div class="form-group clearfix">
                        <span class="m-l-1">Username</span>
                        <div class="col-md-12"> <input type="text" class="form-control"></div>
                    </div>
                    <div class="form-group clearfix">
                        <span class="m-l-1">Password</span>
                        <div class="col-md-12"> <input type="password" class="form-control"></div>
                    </div>
                    <div class="col-md-12">
                        <input type="checkbox" class="checkbox"> Remember me
                    </div>
                    <div class="form-group text-center clearfix">
                        <input type="button" value="Login" class="center-block m-t-1 btn btn-primary btnContinue">
                    </div>
                </div>
                <div class="text-center m-t-1">
                    <a href="javcascrip:void(0);" class="linkcls"> Forgot Password?</a>
                </div>
            </div> -->



                <!-- <div id="midblock7">
                <div class="m-t-1 statictxtcls green-font">
                    <span class="clearfix font-bold red-font">Your account has been locked for 30 minutes</span>
                    <div class="m-t-1">
                        <span class="clearfix dangertext">If you have forgotten your username and password click the forgot password link below once your account has been unblocked</span>
                    </div>
                </div>
                <div class="innerbody m-t-2">
                    <div class="form-group clearfix">
                        <span class="m-l-1">Username</span>
                        <div class="col-md-12"> <input type="text" class="form-control"></div>
                    </div>
                    <div class="form-group clearfix">
                        <span class="m-l-1">Password</span>
                        <div class="col-md-12"> <input type="password" class="form-control"></div>
                    </div>
                    <div class="col-md-12">
                        <input type="checkbox" class="checkbox"> Remember me
                    </div>
                    <div class="form-group text-center clearfix">
                        <input type="button" value="Login" class="center-block m-t-1 btn btn-primary btnContinue">
                    </div>
                </div>
                <div class="text-center m-t-1">
                    <a href="javcascrip:void(0);" class="linkcls"> Forgot Password?</a>
                </div>
            </div>
 -->








                <div class="text-center footercls">
                    <span>Managed by</span>
                    <div><span class="logoplaceholder">logo placeholder</span></div>
                    <br>
                </div>
            </div>
        </div>

    </div>