<div class="container" id="login">

    <div class="row">

        <div class="col-md-6 bordercls maindiv-center">
            <div class="mainheader text-center p-t-1">
                <h5>{{page.model.translateNames('loginHeader')}}</h5>
                <span> {{page.model.translateNames('TenantPortal')}} </span>
                <br>
                <div><span class="logoplaceholder">{{page.model.translateNames('Logoplaceholder')}}</span></div>
                <span> {{page.model.translateNames('comapnyAddr')}} </span>
            </div>
            <br>

            <div id="midblock8" ng-if="page.model.showHideFlag === 'login'">
                <div class="text-center m-t-1 statictxtcls green-font font-bold" ng-if="page.model.pwdSuccess">
                    <span class="clearfix">{{page.model.translateNames('successAlert')}}</span>
                    <span>{{page.model.translateNames('pls-login')}}</span>
                </div>
                <form name="loginForm" novalidate>
                    <div class="innerbody-login m-t-2">
                        <div class="form-group clearfix">
                            <span class="m-l-1 required">{{page.model.translateNames('uName')}}</span>
                            <div class="col-md-12">
                                <input name="username" type="text" class="form-control" ng-model="page.model.username" required>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <span class="m-l-1 required">{{page.model.translateNames('pwd')}}</span>
                            <div class="col-md-12"> <input type="password" name="pwd" class="form-control" ng-model="page.model.pwd" required></div>
                        </div>
                        <div class="col-md-12">
                            <label class="md-check dark-bluebox">
                                        <input type="checkbox" name="select-type" ng-model="page.model.form.checkall" />
                                        <i class="primary"></i> {{page.model.translateNames('Rememberme')}}
                             </label>
                        </div>
                        <div class="form-group text-center clearfix">
                            <input type="button" value="Login" ng-disabled="loginForm.$invalid" class="center-block m-t-1 btn btn-primary btnContinue">
                        </div>

                    </div>
                </form>
                <div class="text-center m-t-1">
                    <a href="javcascrip:void(0);" class="linkcls" ng-click="page.model.showhideDiv('reset');">{{page.model.translateNames('ForgotPwd')}}</a>
                </div>
            </div>

            <div id="midblock2" ng-show="page.model.showHideFlag === 'reset'">
                <form name="resetForm" novalidate>
                    <div class="text-center m-t-1 statictxtcls"><span>{{page.model.translateNames('username-email')}}</span></div>
                    <div class="innerbody m-t-2">
                        <div class="form-group clearfix text-center">
                            <span>{{page.model.translateNames('Enter-username-email')}} </span>
                            <div class="col-md-12"> <input type="text" class="form-control" ng-model="page.model.u_e_id" placeholder="anjana@gmail.com" required></div>
                        </div>

                        <div class="form-group text-center clearfix">
                            <input type="button" value="Continue" ng-disabled="resetForm.$invalid" class="center-block m-t-1 btn btn-primary btnContinue" ng-click="page.model.checkUserName('verifyCode');">
                        </div>
                    </div>
                    <div class="text-center m-t-1">
                        <a href="javcascrip:void(0);" class="linkcls" ng-click="page.model.showhideDiv('login');">{{page.model.translateNames('returnToLogin')}}</a>
                    </div>
                    <div class="text-center row statictxtcls m-t-1">
                        <div class="col-lg-4">
                            <div class="clearfix text-center"><a class="col-md-12 img-circle activecls circleshape m-l-2">1</a></div>
                            <a class="activecolor">{{page.model.translateNames('s1')}} </a>
                        </div>
                        <div class="col-lg-4">
                            <div class="clearfix text-center"><a class="col-md-12 img-circle inactivecls circleshape m-l-2">2</a></div>
                            <a class="inactivecolor">{{page.model.translateNames('s2')}}</a>
                        </div>
                        <div class="col-lg-4">
                            <div class="clearfix text-center"><a class="col-md-12 img-circle inactivecls circleshape m-l-2">3</a></div>
                            <a class="inactivecolor">{{page.model.translateNames('s3')}}</a>
                        </div>
                    </div>
                </form>
            </div>

            <div id="midblock1" ng-show="page.model.showHideFlag === 'verifyCode'">
                <div class="text-center m-t-1"><span>{{page.model.translateNames('how-reset-pwd')}}</span></div>
                <div class="innerbody">

                    <form name="verifyform" novalidate role="form">
                        <div class="form-group clearfix">
                            <!-- <input type="radio" class="radio" ng-model="page.model.rdnEmailCode" ng-change="page.model.radiochange(page.model.rdnEmailCode);"> -->

                            <rp-form-input-radio rp-value="pizza.name" config="page.formConfig[pizza.id]" rp-label-text="pizza.name" rp-model="page.model.pizza" ng-repeat="pizza in page.model.pizzas">
                            </rp-form-input-radio>
                            {{page.model.translateNames('email-me')}}
                            <div class="col-md-12">

                                <input type="text" name="emailCode" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-readonly="page.model.rdnEmailCode===true" class="form-control" ng-model="page.model.emailCode" placeholder="anjana@gmail.com">
                                <span ng-show="verifyform.emailCode.$error.pattern" class="error">Please enter valid email</span>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="md-check dark-bluebox">
                                    <input type="radio"  name="select-type" value="number" ng-model="page.model.rdnEmailCode" 
                                    />
                                        <i class="primary"></i> {{page.model.translateNames('to-number')}}
                                    </label>
                            <!-- <input type="radio" class="radio" ng-model="page.model.rdnmobCode" ng-change="page.model.rdnEmailCode=page.model.rdnmobCode===true?'':page.model.rdnmobCode">{{page.model.translateNames('to-number')}} -->
                            <div class="row">
                                <div class="col-md-4"> <input type="text" ng-pattern="/[0-9]/" maxlength="3" name="mobcode1" ng-model="page.model.mobcode1" ng-readonly="page.model.rdnmobCode===true" class="form-control" placeholder="972"></div>
                                <div class="col-md-4"> <input type="text" ng-pattern="/[0-9]/" name="mobcode2" maxlength="3" ng-model="page.model.mobcode2" ng-readonly="page.model.rdnmobCode===true" class="form-control" placeholder="123"></div>
                                <div class="col-md-4"> <input type="text" ng-pattern="/[0-9]/" name="mobcode3" maxlength="4" ng-model="page.model.mobcode3" ng-readonly="page.model.rdnmobCode===true" class="form-control" placeholder="0056"></div>
                                <span class="error m-l-1" ng-show="verifyform.mobcode1.$error.pattern || verifyform.mobcode2.$error.pattern || verifyform.mobcode3.$error.pattern">Enter only numbers</span>

                            </div>
                        </div>
                        <div class="form-group text-center clearfix">
                            <input type="button" value="Continue" ng-click="page.model.sendVerifycode();" class="center-block m-t-1 btn btn-primary btnContinue">
                            <div>
                                <a href="javcascrip:void(0);" class="linkcls" ng-click="page.model.showhideDiv('login');"> {{page.model.translateNames('returnToLogin')}}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div id="midblock3" ng-show="page.model.showHideFlag === 'sentCode'">

                <div class="text-center m-t-1 statictxtcls"><span>{{page.model.translateNames('answer')}}</span></div>
                <form name="sentCodeform" novalidate role="form">
                    <div class="innerbody m-t-2">
                        <div class="form-group clearfix">
                            <div class="lh m-l-1">
                                <span class="clearfix">{{page.model.translateNames('verifyCode')}}</span>
                                <span>{{page.model.translateNames('txt-msg')}} {{page.model.displaymob_email}}</span>
                            </div>
                            <div class="col-md-12 m-t-1"> <input type="text" class="form-control" ng-model="page.model.code" placeholder="Enter the 6 digit code" required></div>
                        </div>
                        <div class="form-group text-center clearfix">
                            <input type="button" value="Next" ng-disabled="sentCodeform.$invalid" ng-click="page.model.showhideDiv('question');" class="center-block m-t-1 btn btn-primary btnContinue">
                        </div>
                    </div>
                </form>

                <div class="text-center m-t-1 row">
                    <a href="javcascrip:void(0);" class="linkcls m-r-3" ng-click="page.model.showhideDiv('question');"> Answer security question</a>
                    <a href="javcascrip:void(0);" class="linkcls" ng-click="page.model.showhideDiv('login');"> {{page.model.translateNames('returnToLogin')}}</a>
                </div>

            </div>

            <div id="midblock4" ng-show="page.model.showHideFlag === 'question'">

                <div class="text-center m-t-1 statictxtcls"><span>{{page.model.translateNames('random-qusns')}} </span></div>
                <form name="questionForm" novalidate role="form">
                    <div class="innerbody-login m-t-2">
                        <div class="form-group clearfix">
                            <div class="lh m-l-1">
                                <span class="clearfix">{{page.model.translateNames('q-1')}} </span>
                            </div>
                            <div class="col-md-12"> <input type="text" class="form-control" ng-model="page.model.question1" required></div>
                        </div>

                        <div class="form-group text-center clearfix">
                            <input type="button" value="Continue" ng-click="page.model.showhideDiv('confirmpwd');" ng-disabled="questionForm.$invalid" class="center-block m-t-2 btn btn-primary btnContinue">
                        </div>
                    </div>
                </form>

                <div class="text-center m-t-1 row">
                    <a href="javcascrip:void(0);" class="linkcls" ng-click="page.model.showhideDiv('login');"> {{page.model.translateNames('returnToLogin')}}</a>
                </div>

            </div>

            <div id="midblock5" ng-show="page.model.showHideFlag === 'confirmpwd'">
                <form name="confirmpwdForm" novalidate role="form">
                    <div class="innerbody m-t-2">
                        <div class="form-group clearfix">
                            <div class="lh m-l-1">
                                <span class="clearfix font-bold">{{page.model.translateNames('enter_pwd1')}}  {{page.model.strUserName}} {{page.model.translateNames('enter_pwd2')}} </span>
                            </div>
                            <div class="lh m-l-1">
                                <span class="clearfix">{{page.model.translateNames('r1')}}</span>
                                <span class="clearfix">{{page.model.translateNames('r2')}} </span>
                                <span class="clearfix">{{page.model.translateNames('r3')}} </span>
                                <span class="clearfix">{{page.model.translateNames('r4')}} </span>
                                <span class="clearfix">{{page.model.translateNames('r5')}} </span>
                            </div>
                            <div class="col-md-12 clearfix m-t-1"> <input type="password" name="pwd1" ng-model="page.model.pwd1" class="form-control" required></div>
                            <div class="col-md-12 clearfix m-t-1"> <input type="password" name="pwd2" ng-match="page.model.pwd1" ng-model="page.model.pwd2" class="form-control" required></div>
                            <span class="pwd m-l-1" ng-show="confirmpwdForm.pwd2.$error.match"> {{page.model.translateNames('pwd-match-restrict')}} </span>
                        </div>
                        <div class="form-group text-center clearfix">
                            <input type="button" value="Change password" ng-disabled="confirmpwdForm.$invalid" ng-click="page.model.resetpwdSubmit();" class="center-block m-t-1 btn btn-primary btnContinue">
                        </div>
                    </div>
                </form>
            </div>
            <div class="text-center footercls">
                <span>{{page.model.translateNames('Managedby')}}</span>
                <div><span class="logoplaceholder">{{page.model.translateNames('Logoplaceholder')}}</span></div>
                <br>
            </div>
        </div>
    </div>
</div>