.amenities {
    &-tab-content {
        .floorplan {
            &-header {
                height: 90px;
                padding-top: 20px;
                padding-bottom: 30px;
                // padding-left:0px;
                vertical-align: middle;
                &-title {
                    @include header-2;
                    float: left;
                    width: 50%;
                    line-height: 40px;
                    white-space: nowrap;
                }                
            }

        }
    }
}

