<div class="modal"  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Amenities</h5>
      </div>
      <div class="modal-body p-lg">
        <p>You are about to delete {{ctrl.model.delRecord.amenityName}} from the Master list. It will no longer be listed or available to assign to properties..</p>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn rounded neutral p-x-md" ng-click="ctrl.hideDeleteAmenityModal()">Cancel</button>
        <button type="button" class="btn rounded primary p-x-md" ng-click="ctrl.confirmDeleteAmenity()">Delete</button>
      </div>
    </div>
  </div>
</div>