<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Api Calls">
                    <match url="(api/.*)" />
                    <action type="Rewrite" url="http://rpidevntw008.realpage.com/users/sarroju/RPGITSERVICES.accounting/tenant/apigw.phtml" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
