.floorplan {
    &-amenity-prop-details {
        
        .row-head{
            @include grid-row();
            margin-left: 10px;
            margin-right: 10px;
            padding-bottom: 20px;
            padding-top: 20px;
            text-align: center;
            .center-text{
                @include header-2();                
            }
            .left-text{
                @include link;
                float:left;

            }
            .icon-ext{
                margin-right: 10px;
            }
        }
        .row-detail {
            @include grid-row();            
            margin-left: 10px;
            margin-right: 10px;
            padding-bottom: 10px;
            padding-top: 0px;
            margin-top: 40px;

                       
            &-body {
                padding-top: 20px;

                .grid-col {
                    &-img{
                        @include grid-col(1);
                        padding-left:0px;
                       
                        .upload{
                                @include link;                               
                                font-size: 10px;
                                display: block;
                                width: 60px;
                                text-align: center;                                
                        }

                         .icon-size{
                            // width: 65px;
                            // height: 50px;
                            font-size: 60px;
                            color: $rp-neutral-03;
                            
                        }
                    }
                    &-name {
                        @include grid-col(2);
                        // padding-left: 0px;
                        .amenity-name {
                            width: 100%;
                            font-weight: 500;
                        }
                        .synd-name {
                            width: 100%;
                            @include body-3($rp-neutral-03);
                        }
                    }
                    &-prop {
                        @include grid-col(4);
                                             
                        .amenity-descTitle {
                            width: 100%;                            
                        }
                        .amenity-desc {
                            width: 100%;
                            @include body-3($rp-neutral-03);
                        }
                    }
                    &-price {
                        @include grid-col(3);
                        @include body-1;
                        font-weight: 500;
                        text-align: right;
                    }
                    &-edit {
                        @include grid-col(1);
                        font-size: 20px;
                        color: $rp-neutral-03;
                        text-align: right;
                        .active{
                            color:$rp-primary;
                        }
                    }
                    &-more {
                        @include grid-col(1);   
                        text-align: right;    

                        .rp-actions-menu {                            
                            z-index: 99999;                                
                        }  


                    }
                }
            }
        }
        .prop-detail {
            @include grid-row();
            
            margin-left: 10px;
            margin-right: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
            margin-top: 40px;
            font-weight: 500;
            .new-btn {
                float: left;
                .icon-size {
                    font-size: 12px;
                }
            }
            &-header {
                padding-top: 30px;
                padding-bottom: 40px;
                // padding-left:0px;
                vertical-align: middle;
                &-title {
                    @include header-2;
                    float: left;
                    width: 100%;
                    line-height: 50px;
                    white-space: nowrap;
                    height: 50px;
                }
            }
        }
        .prop-detail-grid {
            margin-left: 20px;
            margin-right: 20px;
            .rp-grid-headers-1 .rp-grid-text {
                font-size: 14px;
                font-weight: normal;
            }
            .rp-grid-headers-1 {
                .rp-grid-cell {
                    &.site-name {
                        width: 40%;
                        text-align: left;
                    }
                }
                .rp-grid-cell{
                    &.floor-plans {
                        width: 20%;
                        text-align: right;                        
                    }
                }
                .rp-grid-cell{
                    &.units {
                        width: 40%;
                        text-align: right;                        
                    }
                }
            }



            .rp-grid-body-1 {
                .rp-grid-cell {
                    &.site-name {
                        width: 40%;
                        .rp-grid-text {
                            font-weight: 500;
                        }
                    }
                }
                .rp-grid-cell {
                    &.floor-plans {
                        width: 20%;
                        text-align: right;
                        .rp-grid-text {
                            font-weight: 500;
                            font-size: 16px;
                        }
                    }
                }
                .rp-grid-cell {
                    &.units {
                        width: 40%;
                        text-align: right;
                        .rp-grid-text {
                            font-weight: 500;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

.rp-actions-menu-panel{
    &.floorplan-actionsmenu{
        z-index: 9999;
    }
}
